:host {
  app-card {
    width: 90px;
    height: 150px;
    background-color: var(--card-colour);

    p {
      width: fit-content;
      height: fit-content;
      margin-inline: auto;
    }
  }
}
