:host {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  target-board {
    flex: 2;
  }

  player-board {
    flex: 1;
  }
}
