:host {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-target-board {
    flex: 2;
  }

  app-player-board {
    flex: 1;
  }
}
