/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100vh;
  width: 100%;

  --colour-purple: #a352ff;
  --colour-orange: #ff7d52;
  --colour-green: #84bc2d;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}
